@model EmbeddedStockSolution.ViewModels.CategoryViewModel

<div class="row"> 
<h2>Create new category<h2>
<form asp-controller="category" asp-action="create" method="post">
    Name:  <input asp-for="Name"/> <br />
    Add Component types: <br>
    <select asp-for="ComponentTypeIds">
      @foreach (var componentType in @ViewBag.list)
      {    
        <option value="@componentType.ComponentTypeId">@componentType.ComponentName</option>
      }
    </select>
    <br>
    <button type="submit" class="btn">Create</button>
</form>
<div class="row"> 

  
    
