@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EmbeddedStock</h1>
    <p class="lead">First assignment in ITTWEB01.</p>
    <p>Register a user and log in to access the admin section</p>

    <p>Also available here <a target="_blank" href="https://github.com/JacobOJ/ITTWEB_ASS1">https://github.com/JacobOJ/ITTWEB_ASS1</a></p>
</div>
